@tailwind base;
@tailwind components;
@tailwind utilities;

/* base styles */
@layer base {
  :root {
    /* Colors */
    --color-primary: #000000;
    --color-secondary: #fcfcfc;
    --color-gray: #e2e2e2;

    /* Border Radius */
    --radius-sm: 4px;
    --radius-md: 8px;
    --radius-lg: 16px;

    /* Spacing */
    --spacing-xs: 0.25rem;
    --spacing-sm: 0.5rem;
    --spacing-md: 1rem;
    --spacing-lg: 2rem;
    --spacing-xl: 4rem;

    --width-container: 73.75rem;
  }

  /* Font Sizes */
  :root {
    --font-size-h1: 4rem; /* 64px */
    --font-size-h2: 2.5rem; /* 40px */
    --font-size-h3: 2rem; /* 32px */
    --font-size-h4: 1.75rem; /* 28px */
    --font-size-h5: 1.5rem; /* 24px */
    --font-size-h6: 1.25rem; /* 20px */
    --font-size-p: 1rem; /* 16px */
    --font-size-small: 0.875rem; /* 14px */
  }

  @media (max-width: 1024px) {
    :root {
      --font-size-h1: 3.25rem; /* 52px */
      --font-size-h2: 2rem; /* 32px */
      --font-size-h3: 1.75rem; /* 28px */
      --font-size-h4: 1.5rem; /* 24px */
      --font-size-h5: 1.25rem; /* 20px */
      --font-size-h6: 1.125rem; /* 18px */
      --font-size-p: 0.9375rem; /* 15px */
    }
  }

  @media (max-width: 640px) {
    :root {
      --font-size-h1: 2.125rem; /* 34px */
      --font-size-h2: 2; /* 32px */
      --font-size-h3: 1.75rem; /* 28px */
      --font-size-h4: 1.5rem; /* 24px */
      --font-size-h5: 1.25rem; /* 20px */
      --font-size-h6: 1.125rem; /* 18px */
      --font-size-p: 1rem; /* 16px */
    }
  }

  body {
    font-family: var(--font-outfit), system-ui, sans-serif;
    background-color: var(--color-secondary);
    color: #171717;
    margin: 0;
    padding: 0;
  }

  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    font-family: var(--font-inter), system-ui, sans-serif;
    font-weight: 500;
    margin-bottom: var(--spacing-md);
  }

  h1 {
    font-size: var(--font-size-h1);
    line-height: 1.3;
    margin-bottom: 1.5rem; /* 24px */
  }
  h2 {
    font-size: var(--font-size-h2);
    line-height: 1.3;
    margin-bottom: 1.25rem; /* 20px */
  }
  h3 {
    font-size: var(--font-size-h3);
    line-height: 1.3;
    margin-bottom: 1rem; /* 16px */
  }
  h4 {
    font-size: var(--font-size-h4);
    line-height: 1.3;
    margin-bottom: 0.875rem; /* 14px */
  }
  h5 {
    font-size: var(--font-size-h5);
    line-height: 1.3;
    margin-bottom: 0.75rem; /* 12px */
  }
  h6 {
    font-size: var(--font-size-h6);
    line-height: 1.3;
    font-weight: 300;
    margin-bottom: 0.5rem; /* 8px */
  }
  p {
    font-size: var(--font-size-p);
    margin-bottom: var(--spacing-md);
    font-weight: 300;
    line-height: 1.5;
  }
  small {
    font-size: var(--font-size-small);
  }
  a {
    cursor: pointer;
  }
}

/* components */
@layer components {
  .btn {
    @apply px-4 py-2 rounded-lg font-semibold transition-all;
  }
  .btn-primary {
    @apply bg-primary text-secondary hover:opacity-70;
  }
  .btn-secondary {
    @apply bg-gray-200 text-gray-800 hover:bg-gray-300;
  }
  .card {
    @apply bg-secondary shadow-md rounded-lg p-4;
  }
}

/* Elfsight container */
.elfsight-app-35d1073f-b9a7-4eda-ae8d-2560d7592904 {
  overflow: hidden;
}
